* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 40px 20px 40px 20px;
  font-family: Montserrat;
}

.wrapper {
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #1e2939;
  max-width: 370px;
}

.my-photo {
  width: 100%;
}

.about-me-container {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 45px;
  /* padding-top: 70px; */
  padding-bottom: 45px;
  /* padding-bottom: 70px; */
}

.contacts-container {
  padding: 50px 40px 0;
}

.contacts-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #a0a0a0;
}

.contacts-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-right: 5px;
}
.contacts-container-item {
  list-style: none;
}

.tech-skills-container {
  padding: 50px 40px 0;
}

.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 15px;
}

.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}

.tech-skills-text {
  color: #ffffff;
}
.soft-skills-container {
  padding: 50px 40px 0;
}

.soft-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 15px;
}

.soft-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}
.soft-skills-text {
  color: #ffffff;
}

.speciality {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 90px;
}
.description {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #2b2a2a;
}
.info-container {
  margin-bottom: 35px;
}
.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.project-item {
  font-weight: 700;
  margin-bottom: 15px;
}

.project-link {
  color: #2b2a2a;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.about-project-text {
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
}
.about-project-text-link {
  text-decoration: none;
  color: #355b8f;
}

.project-item-container {
  display: flex;
}

.project-item-container::before {
  content: "";
  border-bottom: 1px dashed rgba(157, 164, 189, 0.52);
  flex-grow: 1;
  order: 2;
  margin: 0 5px 5px;
}
.tech {
  order: 3;
}
.tech-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.project-container {
  margin-bottom: 55px;
}

.company-profession {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.company-name {
  color: #ff6b08;
}
.date {
  color: #595959;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.date.work-experience {
  display: block;
  margin-bottom: 10px;
}
.profession-devidor {
  color: #000000;
}
.work-experience {
  margin-bottom: 40px;
}

.work-experience-container:not(:last-child) {
  margin-bottom: 40px;
}

.profession-duties-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.university-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #ff6b08;

  display: block;
  margin-bottom: 15px;
}
.university-speciality {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}
.education-container:not(:last-child) {
  margin-bottom: 55px;
}

.und {
  text-decoration: underline;
  margin-left: 20px;
}
.margin {
  margin: 0 0 10px 20px;
  list-style: square;
  font-size: 12px;
  font-weight: 500;
}
